huggingface-hub==0.34.3
joblib==1.5.1
lightning-utilities==0.15.2
networkx==2.8.8
nltk==3.9.2
pandas==1.3.5
polyleven==0.9.0
protobuf==3.20.1
PyTDC==0.4.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.1.0
rd_filters @ git+https://github.com/PatWalters/rd_filters.git@3630f1a59150b4a203c2f06d8376a66d1d4c3f70
rdchiral==1.1.0
rdkit-pypi==2022.9.5
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.2.2
scipy==1.15.3
seaborn==0.13.2
selfies==2.2.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tokenizers==0.13.3
tqdm==4.67.1
transformers==4.32.1
wandb==0.20.1
xformers==0.0.28.post3
gdown==5.2.0